<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'vendor/bootstrap/css/bootstrap.min' %>
    <%= stylesheet_link_tag    'vendor/fontawesome-free/css/all.min' %>
    <%= stylesheet_link_tag    'vendor/simple-line-icons/css/simple-line-icons' %>
    <%= stylesheet_link_tag    'stylish-portfolio.min' %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Custom scripts for this template -->


    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
  <body>
    <%= yield %>


    <%= javascript_include_tag 'vendor/jquery/jquery.min' %>
    <%= javascript_include_tag 'vendor/bootstrap/js/bootstrap.bundle.min' %>
    <%= javascript_include_tag 'vendor/jquery-easing/jquery.easing.min' %>
    <%= javascript_include_tag 'stylish-portfolio.min' %>

    <script>
      window.fcWidget.init({
        token: "542ff88c-d97e-40ed-83f5-14cde2658080",
        host: "https://wchat.freshchat.com"
      });
    </script>
  </body>
</html>
